[Unit]
Description=Check timestamp and destroy Vultr instance if necessary
Wants=check_time_and_destroy.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check_time_and_destroy.sh
Environment="VULTR_API_KEY=<VULTR_API_KEY>"

[Install]
WantedBy=multi-user.target
